html, body {
  height: 100%;
  position: relative;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: normal;
}

h1 {
  font-family: 'Arvo', sans-serif;
  letter-spacing: 10px;
  font-size: 20px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

li {
  font-weight: 300;
  font-size: 16px;
  margin-top: 8px;
}

li a {
  color: #aaa;
  border: 1px solid #aaa;
  display: inline-block; 
  padding: 8px 17px;
  text-decoration: none;
  transition: color 0.2s, border-color 0.2s;
  -webkit-transition: color 0.2s, border-color 0.2s;
}

li a:hover {
  opacity: 1;
  color: #000;
  border: 1px solid #000;
  transition: color 0.2s, border-color 0.2s;
  -webkit-transition: color 0.2s, border-color 0.2s;
}

.hello-there {
  background-color: #fefefe;
}

.hello-there .content {
  padding: 0 200px;
  position: relative;
  top: calc(50% - 130px);
  top: -webkit-calc(50% - 130px);
}

.my-projects {
  background-color: #333;
}

.my-projects .content {
  padding: 100px 100px;
  color: #fff;
  font-weight: 300;
}

.section-chunk {
  height: 100%;
  position: relative;
}

.me {
  width: 36px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 140px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('images/me-img.png');
}
