html, body {
  height: 100%;
  position: relative; }

body {
  font-family: 'Lato', sans-serif;
  line-height: normal; }

h1 {
  font-family: 'Arvo', sans-serif;
  letter-spacing: 10px;
  font-size: 20px; }

h2 {
  font-weight: 300;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px; }

h3 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 50px;
  background-image: url("images/me-img-dark.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 10px 15px;
  background-color: #393532; }

h4 {
  padding: 30px;
  font-size: 40px;
  color: #aaa;
  font-weight: 300; }

.outer-container {
  min-width: 670px;
  height: 100%; }

a {
  color: #ef6500;
  transition: color 0.1s;
  text-decoration: none; }
  a:hover {
    transition: color 0.1s;
    color: #ffbd82; }

li {
  font-weight: 300;
  font-size: 16px;
  margin-top: 8px; }

li a {
  color: #aaa;
  border: 1px solid #aaa;
  display: inline-block;
  padding: 8px 17px;
  text-decoration: none;
  transition: color 0.2s, border-color 0.2s;
  -webkit-transition: color 0.2s, border-color 0.2s; }

li a:hover {
  opacity: 1;
  color: #000;
  border: 1px solid #000;
  transition: color 0.2s, border-color 0.2s;
  -webkit-transition: color 0.2s, border-color 0.2s; }

li a.etc {
  float: left; }

li ul.icons {
  display: inline-block;
  margin-left: 8px; }

li ul.icons li {
  display: inline-block;
  font-weight: 100;
  margin-top: 0;
  margin-left: 2px;
  transition: opacity 200ms ease;
  -webkit-transition: opacity 200ms ease;
  opacity: 0; }

li ul.icons li a {
  border: 0;
  font-weight: 100;
  color: #fefefe;
  padding: 0;
  width: 37px;
  height: 37px;
  line-height: 37px;
  vertical-align: middle;
  text-align: center;
  opacity: 0.8;
  transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease; }

li.etc:hover > ul.icons li {
  opacity: 1; }

li.etc:hover > ul.icons li:nth-child(1) {
  transition-delay: 0; }

li.etc:hover > ul.icons li:nth-child(2) {
  transition-delay: 0.05s; }

li.etc:hover > ul.icons li:nth-child(3) {
  transition-delay: 0.1s; }

li.etc:hover > ul.icons li:nth-child(4) {
  transition-delay: 0.15s; }

li.etc:hover > ul.icons li:nth-child(5) {
  transition-delay: 0.2s; }

li.etc > ul.icons li:nth-child(1) {
  transition-delay: 0.2s; }

li.etc > ul.icons li:nth-child(2) {
  transition-delay: 0.15s; }

li.etc > ul.icons li:nth-child(3) {
  transition-delay: 0.1s; }

li.etc > ul.icons li:nth-child(4) {
  transition-delay: 0.05s; }

li.etc > ul.icons li:nth-child(5) {
  transition-delay: 0; }

li ul.icons li a:hover {
  opacity: 1; }

li ul.icons li a.flaticon-facebook {
  background-color: #547BBD; }

li ul.icons li a.flaticon-github {
  background-color: #000; }

li ul.icons li a.flaticon-email {
  background-color: #aaa; }

li ul.icons li a.flaticon-tumblr {
  background-color: #5F90B0; }

li ul.icons li a.flaticon-twitter {
  background-color: #79CCF0; }

.hello-there {
  background-color: #fefefe; }

.hello-there .content {
  padding: 0 200px;
  position: relative;
  top: calc(50% - 130px);
  top: -webkit-calc(50% - 130px); }

.my-hacks .content {
  padding: 0px 30px;
  color: #000;
  font-weight: 300;
  margin: 30px 0;
  position: relative;
  overflow: auto; }
.my-hacks p {
  line-height: normal;
  margin-bottom: 20px; }
.my-hacks ul {
  margin-bottom: 20px; }
  .my-hacks ul li {
    margin: 0 0 10px 0;
    padding: 10px; }
    .my-hacks ul li .hack-title {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 3px; }
    .my-hacks ul li .hack-more {
      margin: 10px 0 6px; }
      .my-hacks ul li .hack-more a {
        border: 0px;
        color: #ddd;
        padding: 3px 6px 3px 8px;
        font-size: 12px;
        display: inline;
        font-weight: 400; }
        .my-hacks ul li .hack-more a:hover {
          opacity: 0.8; }
      .my-hacks ul li .hack-more a::before {
        background-image: url("images/hacks-icons.png");
        background-repeat: no-repeat;
        background-size: 45px 15px;
        width: 15px;
        height: 15px;
        top: 3px;
        left: -4px;
        position: relative;
        display: inline-block;
        content: ""; }
      .my-hacks ul li .hack-more .github {
        background-color: #000; }
        .my-hacks ul li .hack-more .github::before {
          background-position: -15px 0; }
      .my-hacks ul li .hack-more .website {
        background-color: #3e78b3; }
        .my-hacks ul li .hack-more .website::before {
          background-position: -30px 0; }
      .my-hacks ul li .hack-more .node {
        background-color: #98251f; }
    .my-hacks ul li .special {
      text-transform: uppercase;
      font-size: 10px;
      border: 1px solid #999;
      color: #999;
      padding: 2px 5px;
      font-weight: 300;
      position: relative;
      top: -3px;
      margin-left: 5px; }
  .my-hacks ul li:hover {
    background-color: #eee; }

.my-projects {
  background-color: #fff; }
  .my-projects .content {
    padding: 0px 30px;
    color: #000;
    font-weight: 300;
    margin-bottom: 30px;
    position: relative;
    overflow: auto; }
  .my-projects .big-project {
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
    padding: 30px 0; }
  .my-projects .small-project {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    width: calc(33% - 20px);
    width: -webkit-calc(33% - 20px);
    float: left;
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 20px; }
    .my-projects .small-project img {
      width: 100%;
      border: 1px solid #eee;
      margin-top: 20px; }
  .my-projects .small-project:nth-child(3n) {
    margin-right: 0; }
  .my-projects .project-text {
    width: 500px;
    display: inline-block; }
  .my-projects .project-title {
    font-size: 18px;
    margin-bottom: 10px; }
    .my-projects .project-title em {
      font-weight: 500; }
  .my-projects .project-year, .my-projects .project-role {
    font-size: 12px;
    font-weight: 300; }
  .my-projects .project-more {
    margin-top: 6px;
    font-size: 14px; }
  .my-projects .project-img {
    display: inline-block;
    float: right; }
  .my-projects .yext-locator {
    background-image: url("projects/yext-mobile-locator.png");
    height: 160px;
    background-repeat: no-repeat;
    background-size: 400px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -10px; }
    .my-projects .yext-locator.yext-locator-1 {
      width: 70px; }
    .my-projects .yext-locator.yext-locator-2 {
      width: 70px;
      background-position: -70px 0; }
    .my-projects .yext-locator.yext-locator-3 {
      width: 70px;
      background-position: -140px 0; }
    .my-projects .yext-locator.yext-locator-4 {
      width: 36px;
      margin-left: 5px;
      background-position: -215px 0; }
    .my-projects .yext-locator.yext-locator-5 {
      width: 80px;
      background-position: -250px 0; }
    .my-projects .yext-locator.yext-locator-6 {
      width: 80px;
      background-position: -330px 0; }
  .my-projects .planes {
    background-image: url("projects/planes.png");
    height: 150px;
    background-repeat: no-repeat;
    background-size: 290px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 5px; }
    .my-projects .planes.planes-1 {
      width: 180px;
      background-size: 290px; }
    .my-projects .planes.planes-2 {
      background-image: none;
      width: 60px; }
    .my-projects .planes.planes-3 {
      width: 70px;
      background-position: -200px 0;
      margin-right: 40px; }

.section-chunk {
  height: 100%;
  position: relative; }

.me {
  width: 36px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 140px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("images/me-img.png"); }

@media (max-width: 1030px) {
  .yext-locator-4, .planes-2 {
    display: none !important; } }
@media (max-width: 966px) {
  .yext-locator-1 {
    display: none !important; } }
@media (max-width: 900px) {
  .my-projects .small-project {
    width: calc(50% - 20px) !important;
    width: -webkit-calc(50% - 20px) !important;
    margin-right: 30px !important; }

  .small-project:nth-child(2n) {
    margin-right: 0 !important; } }
@media (max-width: 876px) {
  .yext-locator-2, .planes-3 {
    display: none !important; } }
@media (max-width: 827px) {
  .yext-locator-6 {
    display: none !important; }

  .planes-1 {
    width: 110px !important;
    top: 30px !important;
    background-size: 160px !important;
    background-position: 10px 0 !important; } }
@media (max-width: 730px) {
  .yext-locator-3 {
    display: none !important; } }
